h1 {

    color: rgb(165, 42, 48);
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    position: absolute;
    right:300px;    font-size: 200px;
    
}
#image {
    background-color: antiquewhite;
    color: rgb(83, 209, 41);
    text-decoration: underline blue;

}
body {
    background-color: antiquewhite;
    background-position-x: left;
}
.link {
    background-color: aliceblue;
    color: rgb(3, 3, 66);
    font-size: 16px;
    font-style: italic;
    margin: 20px 1100px 10px 0;
    border: 2px solid rebeccapurple;
    padding: .5em;
        display: block;
        list-style: none;
        width: 100px;
        height: 100px;
      }
      
    
    
    
    /*
    * {
        border: 3px solid red;
      }